<% layout("/layouts/boilerplate.ejs")  %>
<body>
    <h1>Show All Listing</h1>
    <!-- <form method="GET" action="Listings/addNew">
        <button>Add New Home Stay</button>
    </form> -->
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <% for(HomeStayListing of HomeStayListings){ %>
            <a href="/Listings/<%= HomeStayListing._id %>" class="listing-link">
            <div class="card col listing-card" >
                <img src="<%= HomeStayListing.image.url  %>" class="card-img-top" alt="Listings" style="height: 20rem;"/>
                <div class="card-img-overlay">abcd</div>
                <div class="card-body">
                    <p class="card-text">
                        <b><%= HomeStayListing.title %></b><br>
                        ₹<%= HomeStayListing.price.toLocaleString("en-IN") %>per night
                    </p>
                </div>
            </div>
            </a>
        <% }%>
    </div>  
</body>